body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

section {
  height: 100vh;
  width: 100vw;
}

header .menu {
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-size: 5vw;
  font-family: roboto;
  letter-spacing: 1.4vw;
  margin: 0px;
  line-height: 1;
}

h2 {
  text-align: center;
  font-family: roboto;
  color: #fff;
  margin: 0px;
  padding-top: 50px;
  letter-spacing: 1.5rem;
}
h3 {
  color: #fff;
  opacity: 0.6;
  text-align: right;
  margin: 0px;
  font-family: josefin Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 2vw;
  font-size: 1.6vw;
}

video {
  margin: 20px;
  width: 30vw;
  border: 5px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  width: 200vw;
  height: 200vh;
}
.slide {
  width: 100vw;
  height: 200vh;
}

.logo-grid {
  display: grid;
  height: 30vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 80px;
}

.rec-sign {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: red;
  color: red;
  margin-right: 3vw;
  flex-shrink: 0;
  animation: blink 1s 1s ease infinite;
}

.menu-item {
  padding: 10px;
  letter-spacing: 0.5rem;
  font-size: 2vw;
  transition: 200ms all ease-in-out;
}

.menu-item:hover {
  font-size: larger;
  cursor: pointer;
}

.project-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.focus-outer-one {
  width: 8vw;
  height: 8vw;
  background-color: #fff;
  position: relative;
  flex-shrink: 0;
}

.focus-inner-one {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 6vw;
  height: 6vw;
  background-color: #000000;
  flex-shrink: 0;
}

.focus-outer-two {
  width: 8vw;
  height: 8vw;
  background-color: #fff;
  position: relative;
  justify-self: end;
}

.focus-inner-two {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 6vw;
  height: 6vw;
  background-color: #000000;
  flex-shrink: 0;
}

.about {
  background-color: #000000;
}
.about-description {
  color: white;
  max-width: 700px;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5;
}

.info {
  display: flex;
  justify-content: space-around;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
