body {
  margin: 0px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
}

header .menu {
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-size: 5vw;
  font-family: roboto;
  letter-spacing: 1.4vw;
  margin: 0px;
  line-height: 1;
}

h3 {
  color: #fff;
  opacity: 0.6;
  text-align: right;
  margin: 0px;
  font-family: josefin Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 2vw;
  font-size: 1.6vw;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 2vw;
  padding: 50px;
}

section {
  height: fit-content;
}

video {
  margin: 20px;
  width: 50vw;
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.286);
}

footer {
  background-color: #333;
  height: 200px;
  color: white;
  margin: 0px;
}

.grid-container {
  display: grid;
}

.logo-grid {
  display: grid;
  height: 30vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 80px;
}

.rec-sign {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: red;
  color: red;
  margin-right: 3vw;
  flex-shrink: 0;
}

.menu-item {
  padding: 10px;
  letter-spacing: 0.5rem;
  font-size: 2vw;
  transition: 200ms all ease-in-out;
}

.menu-item:hover {
  font-size: larger;
  cursor: pointer;
}

.projects {
  background-color: white;
}

.project-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.services {
  background-image: url("./media/film-bg.png");
  background-size: cover;
  color: white;
  padding: 40px;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.5vw;
}

.photo {
  background-color: rgb(141, 170, 141);
}

.focus-outer-one {
  width: 8vw;
  height: 8vw;
  background-color: #fff;
  position: relative;
  flex-shrink: 0;
}

.focus-inner-one {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 6vw;
  height: 6vw;
  background-color: #000000;
  flex-shrink: 0;
}

.focus-outer-two {
  width: 8vw;
  height: 8vw;
  background-color: #fff;
  position: relative;
  justify-self: end;
}

.focus-inner-two {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 6vw;
  height: 6vw;
  background-color: #000000;
  flex-shrink: 0;
}

.services-info {
  display: flex;
}
.list-of-services {
  font-size: 2vw;
  margin: 0px;
  line-height: 6vw;
  padding: 0 40px 0px 40px;
}

.service-description {
  font-size: 1.5vw;
  line-height: 3vw;
  border-left: 2px solid white;
  padding: 0 40px 0px 40px;
}

.about-description {
  font-size: 1.5vw;
  line-height: 3vw;
  padding: 40px;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.5vw;
  text-align: center;
}

.photo img {
  margin: 0px;
  padding: 0px;
}
